.modal .modal-header p{
    font-family: 'futuraFont', sans-serif;
    font-size: 14px;
}
.AgreeBody p,
.modal-body p {
    margin-bottom: 5px;
    color: #565656;
    font-family: 'futuraFont', sans-serif;
    font-size: 14px;
}
.text-dark{
    color: #0000;
}